@charset "utf-8";

#container {
	margin: auto;
    width: fit-content;
}

#dt_div {
	margin: auto;
	margin-bottom: 20pt;
}

.persistant_btn {
	background-color: #333333;
	color: white;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	min-width: 60pt;
}

.persistant_btn:hover {
	background-color: #475728;
}

.option-btn {
	display: inline-block;
}

h1 {
	color: #333333;
}

.question {
	font-size: large;
}

/******************************************************
	BODY TEXT COLOR
******************************************************/

body	{
	color: #000000;
}

/******************************************************
	TITLE COLOR
******************************************************/
h3 {
	color: #475728;
}

/******************************************************
	BUTTON VALUES
******************************************************/

.btn-zingtree {
	border: 0 none;
	font-weight: 700;
	padding: 5pt;
	min-width: 50pt;
	margin-right: 2pt;
}
.btn-zingtree:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

/******************************************************
	PRIMARY BUTTON
******************************************************/

.btn-zingtree {
  color: #ffffff;
  background-color: #475728;
}
.btn-zingtree:hover, .btn-zingtree:focus, .btn-zingtree:active, .btn-zingtree.active, .open > .dropdown-toggle.btn-zingtree {
	background: #475728;
	opacity: 0.85;
}
.btn-zingtree:active, .btn-primary.active {
	background: #475728;
	box-shadow: none;
}


/* animation */

@-webkit-keyframes arrow-move {
     0% {
     opacity: 0;
     right: 0.8em;
    }
    80% {
     opacity: 1;
     right:0.5em;
    }
     100% {
     opacity: 0;
    }
}
 @keyframes arrow-move {
     0% {
     opacity: 0;
     right: 0.8em;
    }
     80% {
     opacity: 1;
     right: 0.5em;
    }
     100% {
     opacity: 0;
    }
}

/* MEDIA */

@media(max-width:768px) {
    #nodes {
        font-size: .82em;
    }
    #node-content {
        font-size: 1.34em;
    }
}



/* Phone screen changes*/
@media (max-width:800px) {
    #container {
        width: 100%;
    }

	.option-btn {
		display: block;
		height: 30pt;
		width: 100%;
		text-align: left;
		margin-bottom: 1pt;
	}
}